@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 60 20% 97%;
        --foreground: 0 6% 13%;
        --card: 60 20% 99%;
        --card-foreground: 0 6% 13%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 6% 13%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 198 71% 35%;
        --accent-foreground: 222.2 47.4% 98%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 1rem;
        --invert: invert(0);
        --logoColor: #24408F;
    }

    /* @media (prefers-color-scheme: dark) {
        :root {
            --background: 222.2 84% 2%;
            --foreground: 210 40% 98%;
            --card: 222.2 50% 8%;
            --card-foreground: 210 40% 98%;
            --popover: 222.2 84% 4.9%;
            --popover-foreground: 210 40% 98%;
            --primary: 210 40% 98%;
            --primary-foreground: 222.2 47.4% 11.2%;
            --invert: invert(100%);
        }
    } */
}

/* body {
    color: hsl(var(--foreground));
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
} */

h1 {
    font-family: var(--logo);
    font-weight: bold;
    color: var(--logoColor) !important;
    font-size: xx-large;

    /* Original thin borders */
    border-top: 1.5px solid var(--logoColor);
    border-bottom: 1.5px solid var(--logoColor);

    /* Positioning and spacing */
    position: relative;
    /* Needed for ::before to position correctly */
    /* mt-4 */
    text-align: center;
    /* text-center */
    padding-top: 0.25rem;
    /* pt-1 */
    line-height: 1;
    margin-bottom: 0.75em;
    /* my-[1px] */
    margin-top: 0.5em;
}

/* ::before for the additional border with gap */
h1::before {
    content: '';
    position: absolute;
    top: -5px;
    /* Adjust the gap size (this creates the space) */
    left: 0;
    right: 0;
    height: calc(100% + 10px);
    /* Ensures the bottom shadow aligns as well */
    border-top: 2px solid var(--logoColor);
    /* Top additional thick border */
    border-bottom: 2px solid var(--logoColor);
    /* Bottom additional thick border */
    z-index: -1;
    /* Places it behind the original borders */
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

.post h2,
.post h3 {
    margin-top: 1em;
}

.post a {
    color: var(--logoColor)
}

h2,
h3,
h4,
h5 {
    font-family: var(--title);
}

h6 {
    font-family: var(--fighter);
}

a {
    color: var(--accent);
}

@layer utilities {
    .invert {
        filter: var(--invert);
    }

    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}